html, body {
  margin: 0;
  padding: 0;
  background-color: #024b6c;
  font-family: 'Nunito', sans-serif;
  letter-spacing: 0.0625em;
  height: 100%;
}

h1, h2, h3, h4, p {
  color: white;
}

.list-group-item {
  background-color: #E2ECF1;
  color: black;
  font-size: 14px;
  text-indent: 0;
  padding: 5px 10px 5px 15px;
}

.toc-content {
  padding-left: 30px;
  padding-right: 40px;
}

div.main-container {
  max-width: 1200px;
}

div.tocify {
  width: 20%;
  max-width: 260px;
  max-height: 85%;
}

@media (min-width: 768px) and (max-width: 991px) {
  div.tocify {
    width: 25%;
  }
}

@media (max-width: 767px) {
  div.tocify {
    width: 100%;
    max-width: none;
  }
}

.tocify ul, .tocify li {
  line-height: 20px;
}

.tocify-subheader .tocify-item {
  text-indent: 0;
  font-size: 7px;
  padding: 5px 10px 5px 25px;
}

.tocify .list-group-item {
  border-radius: 0px;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
  background-color: #008b9b;
  border-color: #008b9b;
}

ul {
  margin-left: 0;
  padding-left: 8px;
  text-indent: 0;  
}

ul li {
  color: white;

}